<h1><%= @customer.user_name %>さんのブログ一覧</h1>

<% @blogs.each do |blog| %>
  <%= image_tag blog.get_blog_images.first.variant(resize: "150x150").processed %><br>
  <%= link_to blog_path(blog.id) do %>
  <%= blog.title %>
  <% end %><br>
  <%= link_to "#{blog.blog_comments.count} コメント", blog_path(blog.id) %>
<% end %>
