    <div class="col-12 card-list-container">
      <div class="row d-flex justify-content-center">
      <% shops.each do |shop| %>
        <div class="card mx-3 col-3 shadow">
          <%= link_to shop_path(shop) do %>
            <%= image_tag shop.get_shop_icon_image.variant(gravity: :center, resize: "300x230^", crop: "300x230+0+0").processed, class: "card-img-top" %>
          <% end %>
        <% if customer_signed_in? %>
          <% if shop.favourited_shop_by?(current_customer) %>
            <div class="favourited_heart btn btn-light rounded-circle">
              <%= link_to shop_favourite_shops_path(shop), class: "heart", method: :delete do %>
                <i class="fas fa-heart"></i>
              <% end %>
            </div>
          <% else %>
            <div class="favourited_heart btn btn-light rounded-circle">
              <%= link_to shop_favourite_shops_path(shop), class: "text-secondary", method: :post do %>
                <i class="fas fa-heart"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
          <div class="card-body">
            <div class="row">
              <div class="col-12 text-center m-auto">
                <%= link_to shop_path(shop), class: "text-dark" do %>
                <p class="card-title mt-4">
                  <%= shop.name %>
                </p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
