<div class="container">
  <div class="row col-12 d-flex justify-content-center my-3">
    <h2 class="bg-light px-3">ショップ編集</h2>
  </div>
  <div class="row offset-lg-2 my-3">
    <div class="col-lg-10 col-sm-12">
      <div class="my-3 ml-3">
        <div class="form-group">
        <%= form_with model: @shop, url: shop_path, method: :patch do |f| %>
        <%= render 'shop_error', shop: @shop %>
          <div class="row field my-3">
            <%= f.label "ショップアイコン画像", class: 'col-lg-3 col-sm-12' %>
            <div class="offset-lg-0 offset-sm-3">
              <%= f.file_field :shop_icon_image, accept: "image/*" %>
            </div>
          </div>
          <div class="row field my-3">
            <%= f.label "ショップ名", class: 'col-lg-3 col-sm-3' %>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ショップ名" %>
          </div>
          <div class="row field my-3">
            <%= f.label "ショップ説明", class: 'col-lg-3 col-sm-3' %>
            <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", placeholder: "ここにショップ説明を入力してください。", size: "40x5" %>
          </div>
          <div class="row field my-3">
            <%= f.label "ショップステータス", class: 'col-lg-3 col-sm-12' %>
            <div class="offset-sm-3">
              <%= f.radio_button :is_active, "true", class: 'align-baseline' %>
              <%= f.label :is_active, "開店中", class: 'mx-2' %>
              <%= f.radio_button :is_active, "false", class: 'align-baseline' %>
              <%= f.label :is_active, "閉店中", class: 'mx-2' %>
            </div>
          </div>
          <div class="actions col-lg-10 col-sm-12 my-2 text-center">
            <%= f.submit "編集内容を保存", class: 'btn btn-outline-success rounded-pill mr-2' %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
