<h1>ショップ登録</h1>

<%= form_with model: @shop, url: shops_path, method: :post do |f| %>

<%= render 'shop_error', shop: @shop %>

  <%= f.label "ショップアイコン画像" %>
  <%= f.file_field :shop_icon_image, accept: "image/*" %><br>
  <%= f.label "ショップ名" %>
  <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ショップ名" %><br>
  <%= f.label "ショップ説明" %>
  <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", placeholder: "ここにショップ説明を入力してください。" %><br>
  <%= f.hidden_field :is_active, :value => true %>
  <%= f.hidden_field :customer_id, :value => @customer_id %>
  <%= f.submit "新規登録" %>
<% end %>
