  <div class="col-md-6 mx-auto">
    <div class="form-inline">

      <span>
        <% case shop_check.action %>
        <% when 'order' then %>
          <%= shop_check.order.customer.last_name %><%= shop_check.order.customer.first_name %>
          さんが
          <strong>
            注文
          </strong>
          を完了しました。
          <%= link_to "配送してください", shop_order_path(shop_check.order.id) %>
        <% when 'transaction_completed' then %>
          <%= shop_check.visitor.last_name %><%= shop_check.visitor.first_name %>
          さんが
          <strong>
            受取確認
          </strong>
          しました。
          <%= link_to "取引完了", shop_order_path(shop_check.order.id) %>です。
        <% end %>

      </span>
    </div>
    <div class="small text-muted text-right">
      <%= time_ago_in_words(shop_check.created_at).upcase %>
    </div>
    <hr>
  </div>
