      <% blogs.each do |blog| %>
        <div class="col-lg-3 col-sm-6">
          <div class="card mx-auto my-3 shadow">
            <%= link_to blog_path(blog.id) do %>
              <%= image_tag blog.get_blog_images.first.variant(gravity: :center, resize: "230x150^", crop: "230x150+0+0").processed, class: "card-img-top" %>
            <% end %>
            <%= render 'public/favourite_blogs/favourite_blog', blog: blog %>
            <% if customer_signed_in? %>
              <% if blog.was_favourite_blog_by?(current_customer) %>
                <div class="favourited_heart btn btn-light rounded-circle">
                  <%= link_to blog_favourite_blogs_path(blog), class: "heart", method: :delete do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                </div>
              <% else %>
                <div class="favourited_heart btn btn-light rounded-circle">
                  <%= link_to blog_favourite_blogs_path(blog), class: "text-secondary", method: :post do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <div class="card-body">
              <div class="row">
                <div class="col-3 text-center">
                  <%= link_to my_page_path(blog.customer) do %>
                    <%= image_tag blog.customer.get_image.variant(gravity: :center, resize: "50x50^", crop: "50x50+0+0").processed, class: "rounded-circle" %>
                  <% end %>
                </div>
                <div class="col-8 text-center">
                  <%= link_to blog_path(blog), class: "text-dark" do %>
                  <p class="card-title">
                    <%= blog.title %>
                  </p>
                  <% end %>
                  <p class="card-text">
                    <%= link_to my_page_path(blog.customer), class: "text-dark" do %>
                      <%= blog.customer.user_name %>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
