<div class="container">
  <div class="row col-12 d-flex justify-content-center my-3">
    <h2 class="bg-light px-3">ブログ編集</h2>
  </div>
  <div class="row offset-lg-2 my-3">
    <div class="col-lg-10 col-sm-12">
      <div class="my-3 ml-3">
        <div class="form-group">
        <%= form_with model: @blog, url: blog_path, method: :patch do |f| %>
        <%= render 'blog_error', blog: @blog %>
          <div class="row field my-3">
            <%= f.label "ブログ画像", class: 'col-lg-3 col-sm-12' %>
            <div class="offset-lg-0 offset-sm-3">
              <%= f.file_field :blog_images, accept: "image/*", multiple: true %>
            </div>
          </div>
          <div class="row field my-3">
            <%= f.label "タイトル", class: 'col-lg-3 col-sm-3' %>
            <%= f.text_field :title, autofocus: true, autocomplete: "title", placeholder: "タイトル" %>
          </div>
          <div class="row field my-3">
            <%= f.label "本文", class: 'col-lg-3 col-sm-3' %>
            <%= f.text_area :body, autofocus: true, autocomplete: "body", placeholder: "ここに本文を入力してください。", size: "40x5" %>
          </div>
          <% if params[:blog].present? %>
            <%= f.hidden_field :item_id, :value =>params[:blog][:item_id] %>
          <% else %>
          <div class="row field my-3">
            <%= f.label "ブログで紹介する作品がある場合、選択して下さい。", class: 'mb-3 col-lg-12 col-sm-12' %>
            <div class="col-lg-12 col-sm-12">
              <%= f.radio_button :select_item, 1, checked: true, class: 'ml-4' %>
              <%= f.label :select_item, "作品を紹介する", class: 'col-lg-3 col-sm-5' %>
              <%= f.select :item_id, options_from_collection_for_select(@items, :id, :name, {selected: @blog.item_id}), include_blank: "選択してください。" %>
            </div>
            <div class="col-lg-12 col-sm-12 mt-1">
              <%= f.radio_button :select_item, 2, class: 'ml-4' %>
              <%= f.label :select_item, "作品を紹介しない", class: 'col-lg-3 col-sm-5' %>
            </div>
          </div>
          <% end %>
          <div class="actions col-lg-10 col-sm-11 my-2 text-center">
            <%= f.submit "編集内容を保存", class: 'btn btn-outline-success rounded-pill ml-lg-4' %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
