<%= render 'searches/blog_search', blog: @blog %>

<%= link_to blogs_path do %>
  <label>すべて</label>
<% end %>
|
<%= link_to blogs_path(item_id: "nil") do %>
  <label>オリジナル</label>
<% end %>

<br>

<%= link_to "オリジナルのブログを投稿する", new_blog_path %><br>

<%= render 'blog_list', blogs: @blogs %>
