    <%= render 'searches/blog_search', blog: @blog %>
    
    <div class="col-3">
      <%= link_to "オリジナルのブログを投稿する", new_blog_path, class: 'btn btn-outline-warning' %>
    </div>
    <div class="col-7"></div>
    <div class="col-2 mt-3">
      <%= link_to blogs_path do %>
        <label>すべて</label>
      <% end %>
      |
      <%= link_to blogs_path(item_id: "nil") do %>
        <label>オリジナル</label>
      <% end %>
    </div>
    <div class="col-12 card-list-container">
      <div class="row d-flex justify-content-start">
    <%= render 'blog_list', blogs: @blogs %>
  </div>
</div>
