<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h4 class="my-3"><i class="fas fa-star"></i>人気の作品</h4>
    </div>
    <div class="col-12 card-list-container">
      <div class="row d-flex justify-content-center">
      <% @item_ranks.each.with_index(1) do |item, i| %>
        <div class="col-3">
          <div class="card shadow mx-auto">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_item_images.first.variant(gravity: :center, resize: "230x150^", crop: "230x150+0+0").processed, class: "card-img-top" %>
            <% end %>
            <div class="rank bg-light rounded-circle">
              <p class="rank_number text-center m-auto p-auto"><%= i %></p>
            </div>
          <% if customer_signed_in? %>
            <% if item.favourited_item_by?(current_customer) %>
              <div class="favourited_heart btn btn-light rounded-circle">
                <%= link_to item_favourite_items_path(item), class: "heart", method: :delete do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              </div>
            <% else %>
              <div class="favourited_heart btn btn-light rounded-circle">
                <%= link_to item_favourite_items_path(item), class: "text-secondary", method: :post do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
            <div class="card-body">
              <div class="row">
                <div class="col-3 text-center">
                  <%= link_to shop_path(item.shop) do %>
                    <%= image_tag item.shop.get_shop_icon_image.variant(resize: "60x60").processed, class: "rounded-circle" %>
                  <% end %>
                </div>
                <div class="col-8 text-center">
                  <%= link_to item_path(item.id), class: "text-dark" do %>
                  <p class="card-title">
                    <%= item.name %>
                  </p>
                  <p class="card-text">
                    ¥<%= item.price.to_s(:delimited) %>
                  </p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="col-12 my-4 text-center">
      <%= link_to "全ての作品を見る >", items_path, class: 'all-rank' %>
    </div>
    <div class="col-12 text-center">
      <h4 class="my-3"><i class="fas fa-star"></i>人気のショップ</h4>
    </div>
    <div class="col-12 card-list-container">
      <div class="row d-flex justify-content-center">
      <% @shop_ranks.each.with_index(1) do |shop, i| %>
        <div class="col-3">
          <div class="card mx-auto shadow">
            <%= link_to shop_path(shop) do %>
              <%= image_tag shop.get_shop_icon_image.variant(gravity: :center, resize: "230x150^", crop: "230x150+0+0").processed, class: "card-img-top" %>
            <% end %>
            <div class="rank bg-light rounded-circle">
              <p class="rank_number text-center m-auto p-auto"><%= i %></p>
            </div>
          <% if customer_signed_in? %>
            <% if shop.favourited_shop_by?(current_customer) %>
              <div class="favourited_heart btn btn-light rounded-circle">
                <%= link_to shop_favourite_shops_path(shop), class: "heart", method: :delete do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              </div>
            <% else %>
              <div class="favourited_heart btn btn-light rounded-circle">
                <%= link_to shop_favourite_shops_path(shop), class: "text-secondary", method: :post do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
            <div class="card-body">
              <div class="row">
                <div class="col-3 text-center">
                  <%= link_to my_page_path(shop.customer) do %>
                    <%= image_tag shop.customer.get_image(50,50), class: "rounded-circle" %>
                  <% end %>
                </div>
                <div class="col-8 text-center">
                  <%= link_to shop_path(shop), class: "text-dark" do %>
                  <p class="card-title">
                    <%= shop.name %>
                  </p>
                  <% end %>
                  <p class="card-text">
                    <%= link_to my_page_path(shop.customer), class: "text-dark" do %>
                      <%= shop.customer.user_name %>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="col-12 my-4 text-center">
      <%= link_to "全てのショップを見る >", shops_path, class: 'all-rank' %>
    </div>
    <div class="col-12 text-center">
      <h4 class="my-3"><i class="fas fa-star"></i>人気のブログ</h4>
    </div>
    <div class="col-12 card-list-container">
      <div class="row d-flex justify-content-center">
      <% @blog_ranks.each.with_index(1) do |blog, i| %>
        <div class="col-3">
          <div class="card mx-auto shadow">
            <%= link_to blog_path(blog.id) do %>
              <%= image_tag blog.get_blog_images.first.variant(gravity: :center, resize: "230x150^", crop: "230x150+0+0").processed, class: "card-img-top" %>
            <% end %>
            <div class="rank bg-light rounded-circle">
              <p class="rank_number text-center m-auto p-auto"><%= i %></p>
            </div>
            <% if customer_signed_in? %>
              <% if blog.was_favourite_blog_by?(current_customer) %>
                <div class="favourited_heart btn btn-light rounded-circle">
                  <%= link_to blog_favourite_blogs_path(blog), class: "heart", method: :delete do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                </div>
              <% else %>
                <div class="favourited_heart btn btn-light rounded-circle">
                  <%= link_to blog_favourite_blogs_path(blog), class: "text-secondary", method: :post do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <div class="card-body">
              <div class="row">
                <div class="col-3 text-center">
                  <%= link_to my_page_path(blog.customer) do %>
                    <%= image_tag blog.customer.get_image(50,50), class: "rounded-circle" %>
                  <% end %>
                </div>
                <div class="col-8 text-center">
                  <%= link_to blog_path(blog), class: "text-dark" do %>
                  <p class="card-title">
                    <%= blog.title %>
                  </p>
                  <% end %>
                  <p class="card-text">
                    <%= link_to my_page_path(blog.customer), class: "text-dark" do %>
                      <%= blog.customer.user_name %>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="col-12 my-4 text-center">
      <%= link_to "全てのブログを見る >", blogs_path, class: 'all-rank' %>
    </div>
    <div class="col-12 text-center">
      <h4 class="my-3"><i class="fas fa-asterisk"></i>新着作品</h4>
    </div>
    <div class="col-12 card-list-container">
      <div class="row d-flex justify-content-center">
      <%= render 'public/items/item_list', items: @items %>
    <div class="col-12 my-4 text-center">
    <%= link_to "全ての作品を見る >", items_path, class: 'all-rank' %>
    </div>
    <div class="col-12 text-center">
      <h4 class="my-3"><i class="fas fa-asterisk"></i>新着ショップ</h4>
    </div>
    <div class="col-12 card-list-container">
      <div class="row d-flex justify-content-center">
      <%= render 'public/shops/shop_list', shops: @shops %>
    <div class="col-12 my-4 text-center">
      <%= link_to "全てのショップを見る >", shops_path, class: 'all-rank' %>
    </div>
    <div class="col-12 text-center">
      <h4 class="my-3"><i class="fas fa-asterisk"></i>新着ブログ</h4>
    </div>
    <div class="col-12 card-list-container">
      <div class="row d-flex justify-content-center">
      <%= render 'public/blogs/blog_list', blogs: @blogs %>
    <div class="col-12 my-4 text-center">
      <%= link_to "全てのブログを見る >", blogs_path, class: 'all-rank' %>
    </div>
  </div>
</div>
