  <div class="col-md-6 mx-auto">
    <div class="form-inline">
      
      <span>
        <%= link_to my_page_path(notice.visitor) do %>
          <%= image_tag notice.visitor.get_image.variant(gravity: :center, resize: "50x50^", crop: "50x50+0+0").processed, class: "rounded-circle mx-auto" %>
          <strong>
            <%= notice.visitor.user_name %>
          </strong>
        <% end %>
        さんが
      
        <% case notice.action %>
        <% when 'follow' then %>
          あなたをフォローしました。
        <% when 'favourite_blog' then %>
          <%= link_to 'あなたのブログ', notice.blog, style: "font-weight: bold;" %>
          にいいねしました。
        <% when 'blog_comment' then %>
          <% if notice.blog.customer_id == notice.visited.id %>
            <%= link_to "あなたのブログ", notice.blog, style: "font-weight: bold;" %>
            にコメントしました。
          <% else %>
            <span>
              <%= link_to blog_path(notice.blog) do %>
                <%= image_tag notice.blog.customer.get_image.variant(gravity: :center, resize: "50x50^", crop: "50x50+0+0").processed, class: "rounded-circle mx-auto" %>
              <strong>
                <%= notice.blog.customer.user_name + 'さんのブログ' %>
              </strong>
              <% end %>
            </span>
            にコメントしました。
            <p class="text-muted mb-0">
              <%= BlogComment.find_by(id: notice.blog_comment_id)&.comment %>
            </p>
          <% end %>
        <% end %>
      </span>
    </div>
    <div class="small text-muted text-right">
      <%= time_ago_in_words(notice.created_at).upcase %>
    </div>
    <hr>
  </div>
  