  <div class="col-md-6 mx-auto">
    <div class="form-inline">

      <span>
        <%= link_to shop_path(check.shop_visitor) do %>
          <%= image_tag check.shop_visitor.get_shop_icon_image.variant(gravity: :center, resize: "50x50^", crop: "50x50+0+0").processed, class: "rounded-circle mx-auto" %><br>
        <% end %>
        <strong>
          <%= check.shop_visitor.name %>
        </strong>
        ショップが

          作品を配送しました。
          <%= link_to "受取確認してください。", order_path(check.order.id) %>

      </span>
    </div>
    <div class="small text-muted text-right">
      <%= time_ago_in_words(check.created_at).upcase %>
    </div>
    <hr>
  </div>
