      <% items.each do |item| %>
        <div class="col-lg-3 col-sm-6">
          <div class="card mx-auto my-3 shadow">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_item_images.first.variant(gravity: :center, resize: "230x150^", crop: "230x150+0+0").processed, class: "card-img-top" %>
            <% end %>
            <%= render 'public/favourite_items/favourite_item', item: item %>
            <div class="card-body">
              <div class="row">
                <div class="col-3 text-center">
                  <%= link_to shop_path(item.shop) do %>
                    <%= image_tag item.shop.get_shop_icon_image.variant(gravity: :center, resize: "50x50^", crop: "50x50+0+0").processed, class: "rounded-circle" %>
                  <% end %>
                </div>
                <div class="col-9 text-center m-auto">
                  <%= link_to item_path(item.id), class: "text-dark" do %>
                  <p class="card-title">
                    <%= item.name %>
                  </p>
                  <p class="card-text">
                    ¥<%= item.price.to_s(:delimited) %>
                  </p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    