    <div class="col-12 card-list-container">
      <div class="row d-flex justify-content-center">
      <% items.each do |item| %>
        <div class="card mx-3 col-3 shadow">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_item_images.first.variant(gravity: :center, resize: "300x230^", crop: "300x230+0+0").processed, class: "card-img-top" %>
        <% end %>
        <% if customer_signed_in? %>
          <% if item.favourited_item_by?(current_customer) %>
            <div class="favourited_heart btn btn-light rounded-circle">
              <%= link_to item_favourite_items_path(item), class: "heart", method: :delete do %>
                <i class="fas fa-heart"></i>
              <% end %>
            </div>
          <% else %>
            <div class="favourited_heart btn btn-light rounded-circle">
              <%= link_to item_favourite_items_path(item), class: "text-secondary", method: :post do %>
                <i class="fas fa-heart"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-3 text-center">
              <%= link_to shop_path(item.shop), class: "text-dark" do %>
                <%= image_tag item.shop.get_shop_icon_image.variant(resize: "60x60").processed, class: "mt-3 rounded-circle" %>
              <% end %>
            </div>
            <div class="col-9 text-center m-auto">
              <%= link_to item_path(item.id), class: "text-dark" do %>
              <p class="card-title">
                <%= item.name %>
              </p>
              <p class="card-text">
                ¥<%= item.price.to_s(:delimited) %>
              </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>    