    <%= render 'searches/item_search', item: @item %>
    <div class="col-lg-3 col-sm-6">
      <%= render partial: 'category_item', items: @items %>
    </div>
    <div class="col-lg-7 col-sm-2"></div>
    <div class="col-lg-2 col-sm-4 mt-3 text-right">
      <%= link_to items_path do %>
        <label>すべて</label>
      <% end %>
      |
      <%= link_to items_path(is_active: "true") do %>
        <label>販売中</label>
      <% end %>
    </div>
    <div class="col-12 card-list-container">
      <div class="row d-flex justify-content-start">
    <%= render 'item_list', items: @items %>
  </div>
</div>
