<h1>作品一覧</h1>

<%= link_to items_path do %>
<label>すべて</label>
<% end %>
|
<%= link_to items_path(is_active: "true") do %>
<label>販売中</label>
<% end %>

<br>

  <% @items.each do |item| %>
    <%= image_tag item.get_item_images.first.variant(resize: "150x150").processed %>
    <br>
    <%= link_to item_path(item.id) do %>
    <%= item.name %>
    <% end %><br>
    ¥<%= item.price.to_s(:delimited) %><br>
    <%= link_to "削除する", item_path(item.id), method: :delete, "data-confirm" => "本当に消しますか？" %><br>
  <% end %>