<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h4 class="my-3"><i class="fas fa-gem"></i> 作品一覧</h4>
    </div>
    <div class="col-3">
      <%= render partial: 'category_item', items: @items %>
    </div>
    <div class="col-7"></div>
    <div class="col-2 mt-3">
      <%= link_to item_search_item_path do %>
        <label>すべて</label>
      <% end %>
      |
      <%= link_to item_search_item_path(is_active: "true") do %>
        <label>販売中</label>
      <% end %>
    </div>
    <% if params[:is_active].present? %>
    <div class="col-12 card-list-container">
      <div class="row d-flex justify-content-start">
      <% @true_items.each do |item| %>
        <div class="col-3">
          <div class="card mx-auto my-3 shadow">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_item_images.first.variant(gravity: :center, resize: "230x150^", crop: "230x150+0+0").processed, class: "card-img-top" %>
          <% end %>
          <% if customer_signed_in? %>
            <% if item.favourited_item_by?(current_customer) %>
              <div class="favourited_heart btn btn-light rounded-circle">
                <%= link_to item_favourite_items_path(item), class: "heart", method: :delete do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              </div>
            <% else %>
              <div class="favourited_heart btn btn-light rounded-circle">
                <%= link_to item_favourite_items_path(item), class: "text-secondary", method: :post do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center">
                <%= link_to shop_path(item.shop) do %>
                  <%= image_tag item.shop.get_shop_icon_image.variant(resize: "60x60").processed, class: "rounded-circle" %>
                <% end %>
              </div>
              <div class="col-9 text-center m-auto">
                <%= link_to item_path(item.id), class: "text-dark" do %>
                <p class="card-title">
                  <%= item.name %>
                </p>
                <p class="card-text">
                  ¥<%= item.price.to_s(:delimited) %>
                </p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>  
    <% else %>
    <div class="col-12 card-list-container">
      <div class="row d-flex justify-content-start">
      <%= render 'item_list', items: @items %>
    <% end %>
  </div>
</div>
  