<div class="container my-3">
  <div class="row">
    <div class="col-lg-8 co-lsm-12 d-flex justify-content-center">
      <% @item.get_item_images.each do |item_image| %>
        <div id="tall">
          <div id="theTarget">
            <%= image_tag item_image, size: "300x300" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4 co-lsm-12 mt-3">
      <div class="row">
        <div class="col-lg-9 col-sm-8 mt-3">
          <%= image_tag @item.shop.get_shop_icon_image.variant(gravity: :center, resize: "50x50^", crop: "50x50+0+0").processed, class: "rounded-circle" %>
          <%= link_to shop_path(@item.shop.id) do %>
            <%= @item.shop.name %>
          <% end %>
        </div>
        <div class="col-lg-3 col-sm-4 mt-3">
          <% if customer_signed_in? %>
            <% unless @item.shop.customer == current_customer %>
              <% if @item.favourited_item_by?(current_customer) %>
                <div class="btn btn-light rounded-circle mt-1">
                  <%= link_to item_favourite_items_path(@item), class: "heart", method: :delete do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                </div>
              <% else %>
                <div class="btn btn-light rounded-circle mt-1">
                  <%= link_to item_favourite_items_path(@item), class: "text-secondary", method: :post do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="my-2">
            <%=  "#{ @category_parent.name } > #{ @category_child.name }" %>
          </div>
          <h4 class="mb-2"><%= @item.name %></h4>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <p class="count font-weight-bold">¥<%= @item.price.to_s(:delimited) %>円</p>
          </div>
          <div class="col-lg-6 col-sm-12 text-danger">
            <% if @item.limit.nil? %>
            <% elsif @item.limit == 0 %>
            <% else %>
              残り<strong><%= @item.limit %>個</strong>です
            <% end %>
          </div>
        </div>
      <% if customer_signed_in? %>
        <% if Item.find_by(params[:shop_id]) && (@item.shop_id == current_customer.shop) %>
        <% elsif Item.find_by(params[:is_active]) && (@item.is_active == 'true') %>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
          <%= form_with model: [@cart, @cart_item], url: carts_path, method: :post, local: true do |f| %>
            <%= f.hidden_field :amount, :value => '1' %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= hidden_field_tag "cart[shop_id]", @item.shop.id %>
            <%= hidden_field_tag "cart[customer_id]", current_customer.id %>
            <%= f.submit "カートに入れる", class: 'orange_btn' %>
          <% end %>
          </div>
        </div>
        <% else %>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
          <%= "販売停止中" %>
          </div>
        </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-lg-8 co-lsm-12">
        <p class="text-secondary mt-3">作品説明</p>
        <p class="py-1"><%= @item.introduction %></p>
        <p class="text-secondary">サイズ: </p>
        <p><%= @item.size %></p>
        <p class="text-secondary">発送日まで: </p>
        <p class="mb-3"><%= @item.shipping_date %>日</p>
      </div>
      <div class="col-lg-4 co-sm-12">
        <div class="row d-flex justify-content-center">
          <div class="col-12 mt-3">
            <h5 class="mb-1">レビュー</h5>
            <hr>
            <% @reviews.each do |review| %>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-lg-3 col-sm-12">
                  <%= link_to item_path(review.item.id) do %>
                    <%= image_tag review.item.get_item_images.first.variant(gravity: :center, resize: "50x50^", crop: "50x50+0+0").processed %>
                  </div>
                  <div class="col-lg-9 col-sm-12">
                    <%= review.item.name %><br>
                  <% end %>
                    <div class="my-2" id="star-rate<%= review.id%>"></div>
                    <script>
                      $('#star-rate<%= review.id%>').raty({
                        size      : 36,
                        starOff   : '<%= asset_path('star-off.png') %>',
                        starOn    : '<%= asset_path('star-on.png') %>',
                        half      : false,
                        readOnly: true,
                        score: <%= review.star %>,
                      });
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12 my-1">
                <p class="py-1"><%= review.review_comment %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12 d-flex justify-content-end">
                by:
                <%= link_to my_page_path(review.customer.id), class: 'text-dark mx-2' do %>
                  <%= review.customer.user_name %>
                <% end %>
                <%= review.created_at.to_s(:ymd) %>
              </div>
            </div>
            <% if admin_signed_in? %>
            <div class="row my-1">
              <div class="col-lg-12 col-sm-12 d-flex justify-content-center">
              <%=  link_to "削除", admin_review_path(review), method: :delete, "data-confirm" => "本当に消しますか？" %>
              </div>
            </div>
            <% end %>
            <hr>
            <% end %>
          </div>
        </div>
        <% if customer_signed_in? %>
        <div class="row d-flex justify-content-center">
          <div class="col-12 d-flex justify-content-center">
            <h5>レビューの新規登録</h5>
          </div>
          <div class="col-12 d-flex justify-content-center">
          <%= form_with model: [@item, @review], method: :post do |f| %>
            <%= render 'review_error', review: @review %>
            <div class="form-group my-1">
              <%= f.label "レビューコメント:" %><br>
              <%= f.text_area :review_comment, autofocus: true, autocomplete: "review_comment", placeholder: "レビューコメント", size: "40x5" %><br>
            </div>
            <div class="form-group row my-1 col-sm-12" id="star">
              <%= f.label :star,'評価:', class: 'col-lg-3 col-form-label' %>
              <%= f.hidden_field :star, id: :review_star %>
            </div>
            <!-- 評価javascript -->
            <script>
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              scoreName: 'review[star]',
              half: false,
            });
            </script>
            <div class="d-flex justify-content-center my-1">
              <%= f.submit "新規登録", class: 'my-2 btn btn-outline-success' %>
            </div>
          <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row d-flex justify-content-center my-1">
      <div class="col-12">
        <% if @blogs.present? %>
          <h4 class=""><%= @item.name %>のブログ</h4>
          <%= render 'public/blogs/blog_list', blogs: @blogs %>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center my-1">
      <div class="col-lg-9 col-sm-9 d-flex justify-content-end">
        <%= link_to "全てのブログを見る＞", item_item_blog_path(@item), class: 'all-rank' %>
      <% end %>
      </div>
    </div>
    <div class="row my-2 d-flex justify-content-center mt-2 mb-3">
      <div class="col-12 d-flex justify-content-center">
        <% if customer_signed_in? %>
          <%= form_with model: @blogs,  url: new_blog_path, method: :get do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.submit "#{@item.name}のブログを投稿する", class: 'orange_out_btn' %>
          <% end %>
        <% end %>
      </div>
    </div>
      <% if customer_signed_in? %>
    <div class="row d-flex justify-content-center">
      <div class="col-12 d-flex justify-content-center">
        <% if Item.find_by(params[:shop_id]) && (@item.shop_id == current_customer.shop) %>
          <%= link_to "作品を編集する", edit_item_path(@item.id), class: 'btn btn-outline-warning' %>
        <% end %>
      </div>
    </div>
      <% end %>
  </div>
</div>
