<% @item.get_item_images.each do |item_image| %>
  <%= image_tag item_image, size: "300x300" %>
<% end %><br>

<%= image_tag @item.shop.get_shop_icon_image(100,100) %><br>
<%= link_to shop_path(@item.shop.id) do %>
  <%= @item.shop.name %><br>
<% end %>

<%= @item.name %><br>
¥<%= @item.price.to_s(:delimited) %>円<br>

  <% if Item.find_by(params[:shop_id]) && (@item.shop_id == current_customer.shop.id) %>
  <% elsif Item.find_by(params[:is_active]) && (@item.is_active == 'true') %>
    <%= form_with model: [@cart, @cart_item], url: carts_path, method: :post, local: true do |f| %>
      <%= f.select :amount, *[1..10], { include_blank: '個数選択' }, autofocus: true, autocomplete: "amount" %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= hidden_field_tag "cart[shop_id]", @item.shop.id %>
      <%= hidden_field_tag "cart[customer_id]", current_customer.id %>
      <%= f.submit "カートに入れる" %>
    <% end %>
  <% else %>
    <%= "販売停止中" %>
  <% end %>

<br>

作品説明<br><%= @item.introduction %><br>
サイズ<br><%= @item.size %><br>
発送日まで<br><%= @item.shipping_date %>日<br>

  <div>
    <% if @item.favourited_item_by?(current_customer) %>
      <p>
        <%= link_to item_favourite_items_path(@item), method: :delete do %>
          ♥<%= @item.favourite_items.count %>
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to item_favourite_items_path(@item), method: :post do %>
          ♡<%= @item.favourite_items.count %>
        <% end %>
      </p>
    <% end %>
  </div>

  <div>
    <% @reviews.each do |review| %>
      <div>
        <%= image_tag review.item.get_item_images.first.variant(resize: "50x50").processed %>
        <%= link_to item_path(review.item.id) do %>
          <%= review.item.name %>
        <% end %>
        <p>内容:<%= review.review_comment %></p>
        <p>評価 :<%= review.star%>点</p>
        <div id="star-rate<%= review.id%>"></div>
        <script>
          $('#star-rate<%= review.id%>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            half      : false,
            readOnly: true,
            score: <%= review.star %>,
          });
        </script>
        <%= image_tag review.customer.get_image(50,50) %><br>
        <%= link_to my_page_path(review.customer.id) do %>
          <%= review.customer.user_name %>
        <% end %>
        <%= review.created_at.to_s(:ymd) %>
      </div>
    <% end %>
    <div>
      <h4>レビューの新規登録</h4>
      <%= form_with model: [@item, @review], method: :post do |f| %>
        <%= render 'review_error', review: @review %>
        <%= f.label "レビューコメント" %><br>
        <%= f.text_area :review_comment, autofocus: true, autocomplete: "review_comment", placeholder: "レビューコメント" %><br>
        <!--f.hidden_field :item_id, :value => @item_id %>-->
        <div class="form-group row" id="star">
          <%= f.label :star,'評価 ', class: 'col-md-3 col-form-label' %>
          <%= f.hidden_field :star, id: :review_star %>
        </div>
        <!-- 評価javascript -->
        <script>
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          scoreName: 'review[star]',
          half: false,
        });
        </script>
        <%= f.submit "新規登録" %>
      <% end %>
    </div>
  </div>

  <br>

  <%= form_with model: @blogs,  url: new_blog_path, method: :get do |f| %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.submit "#{@item.name}のブログを投稿する" %>
    <% end %>

  <% if @blogs.present? %>
    <h4><%= @item.name %>のブログ</h4>

      <% @blogs.each do |blog| %>
        <%= image_tag blog.get_blog_images.first.variant(resize: "150x150").processed %><br>
        <%= blog.name %><br>
    <% end %>
    <%= link_to "全てのブログを見る＞", item_item_blog_path(@item) %>
  <% end %>
<br>

<% if Item.find_by(params[:shop_id]) && (@item.shop_id == current_customer.shop.id) %>
  <%= link_to "作品を編集する", edit_item_path(@item.id) %>
<% end %>
