<!DOCTYPE html>
<html>
  <head>
    <title>Hands</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= form_tag item_search_path, method: :get do %>
      <%= text_field_tag :search, params[:search], placeholder: "作品検索" %>
      <%= button_tag :type => "submit", :name => nil do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
